[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
better-exceptions = "*"

[packages]
fire = "*"
numba = "*"
scikit-image = "*"
filterpy = "*"
joblib = "*"
toml = "*"
maya = "*"

[requires]
python_version = "3.7"
